{% extends 'layout/basic.html' %}
{% load bootstrap4 %}
{% block title %}Введите новый пароль{% endblock %}
{% block content %}
    {% if validlink %}
        <h1>Введите новый пароль!</h1>
        <form method="POST">
            {% csrf_token %}
            {% bootstrap_form form layout='horizontal' %}

            <input type="submit" value="Изменить мой пароль">
        </form>

    {% else %}
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password
            reset.</p>
    {% endif %}
{% endblock %}